/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color:#9c27b0 ;
}

.brand-logo img {
  max-height: 50px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #FFF2FF;
}

.horoscope-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  font-family: 'Courier New', Courier, monospace;
}
  .horoscope-container .section {
    width: 100%;
  }

  .dropdown-trigger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 40%;

  }


.icon-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 40%;
}

.parallax.wrapper {
  transform: scaleX(-1);
}

footer.page-footer {
  margin: 0;
}

.content-container {
  display: flex;
  width: 100%;
  height: 300px;
  border: 1px solid red;
  flex-direction: row;
  justify-content: center;
}

.horoscope-blocks {
  max-width: 400px;
}


@media only screen and (max-width : 992px) {
  .horoscope-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
